@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');

body{
	background-image: url("imagenes/background.jpg");
	font-family: 'Chivo Mono', monospace;
	align-items: center;
}

.encabezado_page{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 1rem;
}
.titulo{
	color: #bbbbbb;
	font-size: 50px;
}
/*------------------main------------------*/
textarea{
	padding: 5px 20px;
	resize: none;
	outline: none;
	border-radius: 32px;
	background-image: radial-gradient(100% 100% at 100% 0, #7f7f7f 0, #5d5d5d 100%);
	border: 0;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
	color:  white;
	border: none;
}
textarea::placeholder{
	color:  #bbbbbb;
}

.cuerpo_page{
	display: flex;
	flex-direction: column;
}


.cajas{
	display: flex;
	justify-content: space-around;
}


.texto_entrada, .texto_salida{
	box-sizing: content-box;
	width: 40%;
	height: 30rem;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}


.requisitos{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding-top: 2rem;
	padding-bottom: 2rem;
	color: #bbbbbb;
}
.requisitos h1{
	padding-left: 1rem;
}
.requisitos:before{
	padding-left: 5rem;
	content: '🛈';
}

.boton {
	appearance: none;
	background-image: radial-gradient(100% 100% at 100% 0, #7f7f7f 0, #5d5d5d 100%);
	border: 0;
	border-radius: 20px;
	box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(0, 0, 0, 0.3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
	box-sizing: border-box;
	color:  #bbbbbb;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	line-height: 1;
	list-style: none;
	overflow: hidden;
	padding-left: 16px;
	padding-right: 16px;
	text-decoration: none;
	transition: box-shadow .15s,transform .15s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	will-change: box-shadow,transform;
	font-size: 18px;
	width: 12rem;
	height: 5rem;
}
.boton:focus {
	box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}
.boton:hover {
	box-shadow: rgba(0, 0, 0, 0.4) 0 4px 8px, rgba(24, 2, 72, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
	transform: translateY(-2px);
}
.boton:active {
	box-shadow: #8591f0 0 3px 7px inset;
	transform: translateY(2px);
}

.botones{
	display: flex;
	justify-content: space-around;
}
.box--boton--en_des{
	gap: 0.5rem;
}

/*------------------footer------------------*/
.pie_page{
	display: flex;
	flex-direction: column;
	text-align: center;
	background: rgba(0, 0, 0, 0.511);
	padding: 40px;
	color: #bbbbbb;
}
.contacto{
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 2rem;
}
.contacto h1{
	padding: 5px;
}
.contacto li{
	padding: 5px;
	color: #bbbbbb;
}
.contacto li a{
	text-decoration: none;
	color: #bbbbbb;
}
.contacto li a:hover{
	color: #3c4fe0;
}

/*------------------responsive------------------*/


@media screen and (max-width:425px){
	body{
		text-align: center;
	}
	header{
		background: red;
	}
	.titulo{
		font-size: 40px;
	}
	main{
		padding: 0 0 0 0;
		background: blue;
	}
	.cajas{
		margin: 10px 10px 10px 10px;
		display: block;
	}
	.entrada, .salida{
		margin: 0 0 0 0;
	}
	.texto_entrada, .texto_salida{
		width: 80%;
		height: 400px;
		margin: 10px 10px 20px 20px;
	}

	.requisitos{
		width: auto;
		height: auto;
		font-size: 20px;
		margin: 0 0 0 15px;
	}
	.botones{
		display: block;
	}
	.b_en_des{
		display: block;
	}
	.b_copy{
		display: block;
		margin: 0 0 0 0;
	}
	#boton_copiar, #boton-desencriptar, #boton-encriptar{
		margin-left: 0;
		margin-right: 0;
		margin: 0 0 0 0;
		width: 270px;
	}
	.contacto li{
		display: block;
		margin-right: 20px;
	}
	.nombre, .linkedin, .github{
		margin: 0 10px 0 0;
	}
	footer{
		background: orange;
	}





}
